
__pycache__/hello.cpython-36.pyc
app/__pycache__/__init__.cpython-36.pyc
app/__pycache__/routes.cpython-36.pyc
crawler/__pycache__/lecture_crawler.cpython-36.pyc
crawler/__pycache__/lecture_crawler.cpython-36.pyc
app/__pycache__/routes.cpython-36.pyc
app/__pycache__/__init__.cpython-36.pyc
crawler/__pycache__/lecture_crawler.cpython-36.pyc
app/__pycache__/routes.cpython-36.pyc
app/__pycache__/__init__.cpython-36.pyc
